<h1>Editing Article</h1>

<%= form_for([@book, @article], url: book_article_path(@book, @article)) do |f| %>


    <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  <p><%= f.label :desc %></p>
  <p><%= f.text_field :desc %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', book_article_path(@article.book, @article) %> |
<%= link_to 'Back', book_articles_path(@book, @article) %>
