<%=  form_for @book  do |f| %>
	<p><%= f.label :title %></p>
	<p><%= f.text_field :title %></p>
	<p><%= f.label :desc %></p>
	<p><%= f.text_field :desc %></p>
	<%= f.submit 'create book' %>

<% end %>